<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}">Name</td>
        <td th:each="role, iterStat : ${user.getRoles()}"
            th:text="${iterStat.last}? ${role} : ${role} +', '">Roles
        </td>
        <td><a th:href="@{/user/{id}/(id=${user.getId()})}">Edit</a></td>
    </tr>
</table>

</body>
</html>